ascii-magic==1.6
certifi==2021.10.8
charset-normalizer==2.0.9
colorama==0.4.4
decorator==4.4.2
ffmpeg==1.4
idna==3.3
imageio==2.13.3
imageio-ffmpeg==0.4.5
moviepy==1.0.3
mutagen==1.45.1
numpy==1.21.4
opencv-python==4.5.4.60
Pillow==8.4.0
proglog==0.1.9
pygame==2.1.0
requests==2.26.0
tqdm==4.62.3
urllib3==1.26.7
